.root {
  position: relative;
  width: 20%;
  min-width: 200px;
  box-shadow: 1px 1px 3px 1px rgba(158,158,158, 0.6);
  top: 0;
  bottom: 0;
}

.title {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background: var(--purple);
  padding: 16px 24px;
  height: 38px;
}

.logo {
  font-weight: bold;
  color: white;
}

.icon {
  color: white;
  margin-right: 10px;
}