@import '~normalize.css';

html, body {
  height: 100%;
  font-family: Roboto, serif;
}

#root {
  height: inherit;
}

:root {
  --light-blue: #56a7f9;
  --light-gray: #f3f3f3;
  --gray: #7a7a7a;
  --purple: #6c57d6;
  --dark-purple: #493d92;
  --light-purple: #e8e7fb;
}